
.selectRest {

    &__heading {
        
        position: relative;
        &__bg {

            img {
                width: 100%;
                
                object-fit: contain;

                @include large{
                    
                }
            }
        }
        &__wrapper {
            width: 100%;
            position: absolute;
            bottom: 0;
            
            border-top-right-radius: 35px;
            border-top-left-radius: 35px;
            background-color: white;
            @include flexbox(row,wrap,center,center);
            
            &__text {
                width: 90%;
                height: 80px;
                @include flexbox(row,nowrap,space-between,center);
           
            }
        }   
    }
}