.custom-btn {
           
    padding: 1rem 3rem;
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 1.5rem;
    box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.25);
    background: linear-gradient(180deg, #E170DB 0%, #A35CDC 100%);
    font-size: 15px;
    font-style: normal;
    transition: filter 0.5s, box-shadow 0.5s;

    &:hover {
        filter: brightness(110%);
        box-shadow:0 1px 4px 0 rgba(0, 0, 0, 0.5);
    }
}


.intro-btn {
    font-size: 15px;
    font-weight: 600;
    padding: 1.3rem 3.5rem;
    margin: 0.5rem;
    border-radius: 2rem;
}