.flashMessage {
    &__container {
        @include size(100%,80px);
        @include flexbox(row,nowrap,center,center);
        color: white;
        font-size: 1rem;
    }
}
.valid{
    background-color: lightgreen;
}
.error{
    background-color: lightcoral;
}