.toggle {

    display: flex;
    transition: fill 2s ease;
    height: 100%;    
    .check-input {
        display: none;
        

        &:checked + .checkbox{
            border: 1px dashed blue;
            .add{
                width: 70px;
            }
        }
        &:hover + .checkbox {
            .add {
                border: 1px dashed red;
            }
        }
    }

    .checkbox {
        display: flex;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        background-color: lightcoral;
        
    }


}