  
.checkoutForm { 
  &__container {
    @include size(100%,100%);
    @include flexbox(column,nowrap,center,center);
    padding-block: 1rem;
    &__field {
      @include flexbox(column,nowrap,center,center);
      padding: 0.5rem 0;
      & input {
        
        @include size(300px,45px);
        background-color: lightgrey;
        border: none;
        color: black;
        font-weight: 500;
        font-style: bold;
        
        &::placeholder {
          padding-left: 0.5rem;
          font-size: 1rem;
        }
      }
      & textarea {

        @include size(300px,45px);
        background-color: lightgrey;
        color: black;
        font-weight: 500;
        font-style: bold;
        padding: 0.5rem 0 0 0.5rem;
        font-size: 1rem;
      }
      & .wrong-span{
        @include size(100%,30px);
        padding-top: 0.5rem;
        text-align: center;
        color: lightcoral;
      }
    }
  }
}