<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajouter des plats</title>
    <link rel="icon" type="image/png" href="{{ asset('eatlogo.svg') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <form class="form-generate" method="post">
        <h2>Ajouter des plats</h2>

        <label for="inputType">Type:</label>
        <select name="type" id="inputType">
            <option value="">entrées</option>
            <option value="dog">plats</option>
            <option value="dog">desserts</option>
        </select>

        <div class="form-field">
            <label for="inputTitle">Intitulé du plat: </label>
            <input type="text" id="inputTitle" name="title"/>
        </div>

        <div class="form-field">
            <label for="inputSubtitle">Ingrédients: </label>
            <input type="text" id="inputSubtitle" name="subtitle"/>
        </div>

        <div class="form-field">
            <label for="inputPrice">prix: </label>
            <input type="text" id="inputPrice" name="price"/>
        </div>

        <button class="custom-btn" type="submit">
            Ajouter en base
        </button>
    </form>
</body>
</html>