<section class="checkout">
        <div class="checkout-container">
            <div class="total-container">
                <div class="splitLine"></div>

                <div class="total-container__label"><p class="title">9:27</p><p>Livraison estimée</p></div>
                
                <div class="cube-loader">
                    <div class="cube-loader__element"></div>
                    <div class="cube-loader__element"></div>
                    <div class="cube-loader__element"></div>
                    <div class="cube-loader__element"></div>
                    <div class="cube-loader__element"></div>
                </div>

                <h1>Votre livreur arrive</h1>
                <div class="maps"></div>
                <h1>Récapitulatif de votre commande</h1>

                <div class="splitLine"></div>

                <div class="items-select-list">
                    <li>
                        <div class="item-select">
                            <div class="item-select__text">
                                <div class="item-select__text__title">Title</div>
                            </div>
                            <div class="price-item">00.00$</div>
                        </div>
                    </li>
                </div>
                
                <div class="splitLine"></div>

                <div class="total-container__list">
                    <div class="total-container__list__item">
                        <span><p>Sous-total</p><p>17.30€</p></span>
                    </div>
                    <div class="total-container__list__item">
                        <span><p>Promotion</p><p>-2,94€</p></span>
                    </div>
                    <div class="total-container__list__item">
                        <span><p>Frais de service</p><p>1,73€</p></span>
                    </div>
                    <div class="total-container__list__item">
                        <span><p>Frais de livraison</p><p>0,00€</p></span>
                    </div>
                </div>
                <div class="splitLine"></div>
            </div>
        </div>

    </section>