<header class="custom-header">
    <div class="custom-header__container">
        <img src="{{ asset('arrowLogo.svg') }}" alt="retour en arrière" class="custom-header__container__backArrow">
        <p class="custom-header__container__title">ohmyfood</p>
        <a href="{#{{ path('connection') }}#}">
            <div class="custom-header__container__userProfil">
                <div class="custom-header__container__userProfil__text">
                    <a href="#" class="custom-header__container__userProfil__text__speudoAccount">Maradzony</a>
                    <a href="#" class="custom-header__container__userProfil__text__deconnectionAccount">Déconnection</a>
                </div>
                <img src="{{ asset('accountLogo.svg') }}" alt="Votre profil" class="custom-header__container__userProfil__logoAccount">
            </div>
        </a>
    </div>
</header>
