<header class="custom-header">
    <div class="custom-header__container">
        <a><img src="{{ asset('arrowLogo.svg') }}" alt="retour en arrière" class="custom-header__container__backArrow"></a>
        <p class="custom-header__container__title">ohmyfood</p>
        <div class="custom-header__container__userProfil">
            <div class="custom-header__container__userProfil__text">
                <a>CLICK ME</a>
                <p class="custom-header__container__userProfil__text__speudoAccount">Connection</p>
                <p class="custom-header__container__userProfil__text__deconnectionAccount">Inscription</p>
            </div>
            <img src="{{ asset('accountLogo.svg') }}" alt="Votre profil" class="custom-header__container__userProfil__logoAccount">
        </div>
    </div>
</header>
