<header class="custom-header">
    <div class="custom-header__container">
        <p class="custom-header__container__title">ohmyfood</p>
        <div class="custom-header__container__userProfil">
        </div>
    </div>
</header>
