.custom-header {
    @include flexbox(column,nowrap,center,center);
    @include size(100%,80px);
    background: $bg-color-header;
    box-shadow:0 -2px 8px 0 rgba(0, 0, 0, 0.25);

    &__container {
        @include flexbox(row,nowrap,space-between,center);
        @include size(90%,100%);
        padding-block: 1rem;

        &__title {
            font-size: $font-size-header;
            color: $font-color-black;
            font-family: $font-family-logo-header;
            cursor: pointer;

            @media (max-width:1200px) {
                font-size: 2rem;
            }
        }
    }
}