@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import '~bootstrap';
@import '~@fortawesome/fontawesome-free';
@import '~@fontsource/roboto';

/*POLICES*/
/*POLICES*/
/*ROOT COLOR*/
/*HEADER*/
/*HEADER*/
/*LOCATION*/
/*LOCATION*/
/*HEADER*/
/*HEADER*/
/*DETAILS FORM*/
/*DETAILS FORM*/
/*INTRO*/
/*INTRO*/
/*RULES*/
/*RULES*/
/*FOOTER*/
/*FOOTER*/
/*LIKED*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 375px;
  max-width: 1920px;
  margin: auto;
  font-family: "WorkSans-Medium", "arial", "sans-serif";
  font-size: 15px;
  color: #040707;
  background-color: #FFFFFF;
}

a {
  color: #040707;
  text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.flashMessage__container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  color: white;
  font-size: 1rem;
}

.valid {
  background-color: lightgreen;
}

.error {
  background-color: lightcoral;
}

.custom-btn {
  padding: 1rem 3rem;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #E170DB 0%, #A35CDC 100%);
  font-size: 15px;
  font-style: normal;
  transition: filter 0.5s, box-shadow 0.5s;
}
.custom-btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.intro-btn {
  font-size: 15px;
  font-weight: 600;
  padding: 1.3rem 3.5rem;
  margin: 0.5rem;
  border-radius: 2rem;
}

.liked {
  transition: fill 2s ease;
}
.liked .check-input {
  display: none;
}
.liked .check-input:checked + .checkbox svg path {
  fill: #A15CDC;
}
.liked .check-input:hover + .checkbox svg path {
  fill: #A15CDC;
  transition: fill 0.8s ease;
}
.liked .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.liked .checkbox svg {
  width: 40px;
  height: 40px;
}
.liked .checkbox .svg-large {
  width: clamp(2.667rem, 2.044rem + 2.492vw, 5.333rem);
  height: clamp(2.667rem, 2.044rem + 2.492vw, 5.333rem);
}

.liked-absolute {
  position: absolute;
  top: 15px;
  right: 20px;
}

.toggle {
  display: flex;
  transition: fill 2s ease;
  height: 100%;
}
.toggle .check-input {
  display: none;
}
.toggle .check-input:checked + .checkbox {
  border: 1px dashed blue;
}
.toggle .check-input:checked + .checkbox .add {
  width: 70px;
}
.toggle .check-input:hover + .checkbox .add {
  border: 1px dashed red;
}
.toggle .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: lightcoral;
}

.dishes .dishes-list {
  width: 100%;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: wrap; /* default is 'nowrap' */
  justify-content: space-evenly; /* default is 'flex-start' */
  align-items: center;
}
.dishes .dishes-list .dishes-type-label {
  color: #7C7C7C;
  font-size: 1.2rem;
  text-align: left;
  padding-block: 1rem;
}
.dishes .dishes-list .dishes-type-label__underline {
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 1rem;
}
.dishes .dishes-list .dishe {
  display: block;
  position: relative;
  height: 65px;
  width: 280px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  background-color: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
  margin: 0.5rem 1rem;
  padding-inline: 1rem;
}
.dishes .dishes-list .dishe:nth-child(1) {
  animation-delay: 0s;
}
.dishes .dishes-list .dishe:nth-child(2) {
  animation-delay: 0.2s;
}
.dishes .dishes-list .dishe:nth-child(3) {
  animation-delay: 0.4s;
}
.dishes .dishes-list .dishe:nth-child(4) {
  animation-delay: 0.6s;
}
.dishes .dishes-list .dishe:nth-child(5) {
  animation-delay: 0.8s;
}
.dishes .dishes-list .dishe:nth-child(6) {
  animation-delay: 1s;
}
.dishes .dishes-list .dishe:nth-child(7) {
  animation-delay: 1.2s;
}
.dishes .dishes-list .dishe:nth-child(8) {
  animation-delay: 1.4s;
}
.dishes .dishes-list .dishe:nth-child(9) {
  animation-delay: 1.6s;
}
.dishes .dishes-list .dishe:nth-child(10) {
  animation-delay: 1.8s;
}
.dishes .dishes-list .dishe:nth-child(11) {
  animation-delay: 2s;
}
.dishes .dishes-list .dishe:nth-child(12) {
  animation-delay: 2.2s;
}
.dishes .dishes-list .dishe__infoList {
  display: flex;
  flex: 1;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: center;
  font-size: 1rem;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dishes .dishes-list .dishe__infoList__title {
  font-weight: 700;
  font-size: 1.2rem;
}
.dishes .dishes-list .dishe__infoList__subtitle {
  font-weight: 300;
}
.dishes .dishes-list .dishe__price {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.dishes .dishes-list .dishe__price p {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  text-align: center;
}
.dishes .dishes-list .dishe .add {
  height: 80px;
  width: 0px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  transition: width 0.5s ease-in-out;
  background-color: #99E2D0;
}
.dishes .dishes-list .dishe .add img {
  transition: rotate 0.8s ease-in-out;
  width: 25px;
  height: 25px;
}
.dishes .dishes-list .dishe__open {
  height: 80px;
  width: 80px;
  transition: width 0.5s ease-in-out;
}
.dishes .dishes-list .dishe__open img {
  rotate: 720deg;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    bottom: -15px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
.loader {
  opacity: 1;
  z-index: 10000;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: #ffffff;
  animation-delay: 6s;
  animation: disappear 4s normal forwards ease-in-out;
}
.loader .loader-container {
  width: 75px;
  height: 75px;
  border: 15px solid lightgray;
  border-top-color: purple;
  border-radius: 50%;
  animation: loading 7s normal forwards ease-in-out;
}

@keyframes loading {
  0% {
    transform: rotate(0turn);
  }
  50% {
    transform: rotate(5turn);
  }
  100% {
    opacity: 0;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    z-index: -100;
  }
}
.checkout-container {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
}
.checkout-container .total-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: start; /* default is 'flex-start' */
  align-items: center;
}
.checkout-container .total-container h1 {
  font-size: 1.3rem;
  font-weight: 600;
  width: 90%;
  height: 50px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: left; /* default is 'flex-start' */
  align-items: center;
}
.checkout-container .total-container .splitLine {
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
.checkout-container .total-container .maps {
  width: 100%;
  height: 300px;
  background-color: lightblue;
}
.checkout-container .total-container__label {
  width: 90%;
  height: 60px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: end;
  padding-bottom: 1rem;
}
.checkout-container .total-container__label p {
  font-size: 0.8rem;
  font-weight: 300;
}
.checkout-container .total-container__label .title {
  font-size: 1.5rem;
  font-weight: 600;
}
.checkout-container .total-container .cube-loader {
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: center;
  width: 90%;
  height: 3.5px;
}
.checkout-container .total-container .cube-loader__element {
  background-color: rgb(1, 180, 1);
  width: 18%;
  height: 100%;
}
.checkout-container .total-container__list {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  width: 100%;
  height: 125px;
  list-style: none;
}
.checkout-container .total-container__list__item {
  width: 90%;
  height: 25px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  padding-block: 0.25rem;
}
.checkout-container .total-container__list__item span {
  width: 100%;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: center;
}
.checkout-container .total-container__list__item span p {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.checkout-container .total-container .items-select-list {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  width: 90%;
  height: 90%;
  padding-block: 2rem;
}
.checkout-container .total-container .items-select-list li {
  list-style: none;
}
.checkout-container .total-container .items-select-list li .item-select {
  width: 325px;
  height: 45px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: center;
  border: 1px dashed purple;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}
.checkout-container .total-container .items-select-list li .item-select__text__title {
  font-size: 1.25rem;
  font-weight: 600;
}
.checkout-container .total-container .items-select-list li .item-select .price-item {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
}

.maps-google {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.maps-google #map {
  height: 250px;
  width: 100%;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.15);
}
.maps-google #route-details {
  width: 100%;
  padding-block: 2rem 1rem;
  display: flex;
  justify-content: space-evenly;
}

.custom-header {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
}
.custom-header__container {
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: center;
  width: 90%;
  height: 100%;
  padding-block: 1rem;
}
.custom-header__container__title {
  font-size: clamp(2rem, 1.766rem + 0.935vw, 3rem);
  color: black;
  font-family: "Shrikhand", cursive;
  cursor: pointer;
  border: 1px solid red;
}
@media (max-width: 1200px) {
  .custom-header__container__title {
    font-size: 2rem;
  }
}
.custom-header__container__backArrow {
  display: block;
  width: 50px;
  height: 50px;
  rotate: 270deg;
  border: 1px solid red;
}
.custom-header__container__userProfil {
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: end; /* default is 'flex-start' */
  align-items: center;
  border: 1px dashed blue;
  cursor: pointer;
}
.custom-header__container__userProfil__logoAccount {
  display: block;
  width: 50px;
  height: 50px;
  border: 1px dashed purple;
}
.custom-header__container__userProfil__text {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
}
.custom-header__container__userProfil__text__speudoAccount {
  display: none;
  font-weight: 600;
  width: 100%;
  height: 25px;
  text-align: end;
  border: 1px dashed red;
}
.custom-header__container__userProfil__text__deconnectionAccount {
  display: none;
  font-weight: 600;
  width: 100%;
  height: 25px;
  text-align: end;
  border: 1px dashed red;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  padding-block: 0.5rem 2.5rem;
  color: white;
  background-color: #353535;
}
.footer__title {
  padding-top: 1rem;
  padding-bottom: clamp(1rem, 0.611rem + 1.558vw, 2.667rem);
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 18px;
}
@media (max-width: 1000px) {
  .footer__title {
    width: 90%;
    justify-content: center;
  }
}
.footer .footer-list {
  width: 60%;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-evenly; /* default is 'flex-start' */
  align-items: center;
}
.footer .footer-list .footer-item {
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: wrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  cursor: pointer;
  color: white;
  padding-block: 0.25rem;
}
.footer .footer-list .footer-item__icon {
  margin-right: 1rem;
}
@media (max-width: 1000px) {
  .footer .footer-list {
    width: 90%;
    display: flex;
    flex-direction: column; /* default is 'row' */
    flex-wrap: nowrap; /* default is 'nowrap' */
    justify-content: center; /* default is 'flex-start' */
    align-items: start;
  }
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 0.922rem + 0.312vw, 1.333rem);
  background-color: #EAEAEA;
  padding-block: clamp(0.5rem, 2vw, 1.5rem);
  cursor: pointer;
}
.location__title {
  text-decoration: none;
  color: black;
}
.location__icon {
  width: 1.25rem;
  padding-inline: 0.25rem;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  padding-block: 2rem;
  text-align: center;
  background: linear-gradient(180deg, #F7F7F7 0%, #F7F7F7 100%);
}
.intro__title {
  font-size: 2rem;
  padding: 1rem 0rem 1rem 1rem;
}
.intro__subtitle {
  max-width: 550px;
  font-size: clamp(1.2rem, 1.091rem + 0.436vw, 1.667rem);
  padding-bottom: 1rem;
  padding-inline: 2rem;
}

.rules {
  padding-block: 2rem;
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
}
.rules__title {
  width: 70%;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}
@media (max-width: 500px) {
  .rules__title {
    justify-content: left;
  }
}
.rules .rules-list {
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: wrap; /* default is 'nowrap' */
  justify-content: space-evenly; /* default is 'flex-start' */
  align-items: center;
  width: 70%;
}
.rules .rules-list .rules-item {
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: wrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  border-radius: 1.375rem;
  background: #F7F7F7;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 1s ease;
  cursor: pointer;
  margin: 1rem 1rem;
}
.rules .rules-list .rules-item__icon {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  width: 50px;
  height: 25px;
}
.rules .rules-list .rules-item__title {
  color: #000;
  font-family: Roboto, sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
}
.rules .rules-list .rules-item__numeration {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -12.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
  background-color: #A35CDC;
}
.rules .rules-list .rules-item:hover {
  box-shadow: 0px 0px 0px 2px #A35CDC;
}
.rules .rules-list .selected-rules {
  box-shadow: 0px 0px 0px 2px #A35CDC;
}

.restaurant {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  background: linear-gradient(180deg, #F7F7F7 0%, #F7F7F7 100%);
  padding-block: 3rem 2rem;
}
.restaurant__label {
  width: 70%;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: left; /* default is 'flex-start' */
  align-items: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: black;
}
@media (min-width: 500px) {
  .restaurant__label {
    justify-content: center;
  }
}
.restaurant .restaurants-list {
  min-height: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-block: 1rem;
}
.restaurant .restaurants-list .restaurant-item {
  position: relative;
  width: 335px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-block: 1rem;
  transition: box-shadow 0.5s ease-in-out;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0.3px 4px 20px 0px rgba(0, 0, 0, 0.25);
}
.restaurant .restaurants-list .restaurant-item img {
  position: absolute;
  top: -80px;
  width: 100%;
  height: 100%;
}
.restaurant .restaurants-list .restaurant-item .custom2 {
  left: -85px;
  top: -120px;
  width: 155%;
  height: 135%;
  rotate: -90deg;
}
.restaurant .restaurants-list .restaurant-item .restaurant-info {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  height: 35%;
  padding-left: 1.5rem;
  background-color: white;
}
.restaurant .restaurants-list .restaurant-item .restaurant-info .restaurant-title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}
.restaurant .restaurants-list .restaurant-item .restaurant-info .restaurant-adress {
  color: #1d1d1d;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant .restaurants-list .restaurant-item:hover {
  box-shadow: 0.3px 4px 20px 0px #A35CDC;
}
.restaurant .restaurants-list .restaurant-selected {
  box-shadow: 0.3px 4px 20px 0px #A35CDC;
}
@media (max-width: 1500px) {
  .restaurant .restaurants-list {
    flex-direction: column;
  }
}

.checkoutForm__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  padding-block: 1rem;
}
.checkoutForm__container__field {
  display: flex;
  flex-direction: column; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
  padding: 0.5rem 0;
}
.checkoutForm__container__field input {
  width: 300px;
  height: 45px;
  background-color: lightgrey;
  border: none;
  color: black;
  font-weight: 500;
  font-style: normal;
}
.checkoutForm__container__field input::-moz-placeholder {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.checkoutForm__container__field input::placeholder {
  padding-left: 0.5rem;
  font-size: 1rem;
}
.checkoutForm__container__field textarea {
  width: 300px;
  height: 45px;
  background-color: lightgrey;
  color: black;
  font-weight: 500;
  font-style: normal;
  padding: 0.5rem 0 0 0.5rem;
  font-size: 1rem;
}
.checkoutForm__container__field .wrong-span {
  width: 100%;
  height: 30px;
  padding-top: 0.5rem;
  text-align: center;
  color: lightcoral;
}

.selectRest__heading {
  position: relative;
}
.selectRest__heading__bg img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.selectRest__heading__wrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  background-color: white;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: wrap; /* default is 'nowrap' */
  justify-content: center; /* default is 'flex-start' */
  align-items: center;
}
.selectRest__heading__wrapper__text {
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: row; /* default is 'row' */
  flex-wrap: nowrap; /* default is 'nowrap' */
  justify-content: space-between; /* default is 'flex-start' */
  align-items: center;
}/*# sourceMappingURL=main.css.map */